.fs-headline
    | เพิ่มข้อมูลผู้จำหน่ายเวชภัณฑ์
    
form(name="frmNew")
    br
    div(flex-container="row", flex-gutter="24")
        div(flex-item="6")
            lx-text-field(label="ชื่อ บริษัท/ร้านค้า", fixed-label="true", icon="credit-card")
                input(type="text", ng-model="name", ng-required="true")
        div(flex-item="6")
            lx-text-field(label="ชื่อผู้ติดต่อ", icon="clipboard-account", fixed-label="true")
                input(type="text", ng-model="contact_name", ng-required="true")
    div(flex-container="row", flex-gutter="24")
        div(flex-item="12")
            lx-text-field(label="ที่อยู่", fixed-label="true", icon="home")
                input(type="text", ng-model="address", ng-required="true")
                    
    div(flex-container="row", flex-gutter="24")
        div(flex-item="6")
            lx-text-field(label="เบอร์โทรศัพท์", fixed-label="true", icon="phone")
                input(type="text", ng-model="telephone", ng-required="true")
        div(flex-item="6")
            lx-text-field(label="เบอร์แฟกซ์", fixed-label="true", icon="library-books")
                input(type="text", ng-model="fax", ng-required="false")
        
    div(flex-container="row", flex-gutter="24")
        div(flex-item="12")
            |&nbsp;
            #progress
    div(flex-container="row", flex-gutter="24")

        div(flex-item="9")
            | &nbsp;
        div(flex-item="3")
            br
            button.btn.btn--l.btn--green.btn--raised(lx-ripple, ng-disabled="frmNew.$invalid", ng-click="doSave()") Save
            | &nbsp;
            a.btn.btn--l.btn--grey.btn--raised(lx-ripple, href="#!/") Back
                
    
