extends ../../layouts/Main

block scripts
    script(src="../js/settings/period/PeriodController.js")
    script(src="../js/settings/period/PeriodService.js")

block content
    div(ng-controller="PeriodController")
        
        span.fs-headline.display-block
            i.icon.icon--l.icon--green.icon--circled.mdi.mdi-calendar
            | &nbsp;ปีงบประมาณ

        .grid
            .grid__col12
                .data-table-container
                    table.data-table.data-table--has-secondary
                        thead
                            tr
                                th #
                                th ปีงบประมาณ
                                th ช่วงเวลา
                                th
                            tr
                                td(colspan="4").divider.divider--dark
                        tbody
                            tr(ng-repeat="y in years")
                                td {{$index+1}}
                                td {{y.name}}
                                td 
                                    | {{y.start_date | toThaiDate}} - {{y.end_date | toThaiDate}}
                                td
                                    lx-dropdown(position="right", from-top)
                                        button.btn.btn--l.btn--grey.btn--icon(lx-ripple, lx-dropdown-toggle)
                                            i.mdi.mdi-dots-vertical
                                        lx-dropdown-menu
                                            ul
                                                li
                                                    a.dropdown-link(ng-click="edit($index)")
                                                        i.mdi.mdi-pencil
                                                        | &nbsp;แก้ไข
                                                li
                                                    a.dropdown-link(ng-click="remove($index, y.id)")
                                                        i.mdi.mdi-close
                                                        | &nbsp;ลบรายการ
        br
        div(flex-container="row", flex-gutter="24")
            div(flex-item="10")
                | &nbsp;
                    
            div(flex-item="2")
                button(lx-ripple, ng-click="showModal()").btn.btn--l.btn--green.btn--fab
                    i.mdi.mdi-plus
                | &nbsp;
                a(href="#!/", lx-ripple).btn.btn--l.btn--grey.btn--fab
                    i.mdi.mdi-home
            
        lx-dialog.dialog.dialog--l#mdlNew(onclose="closingDialog()")
            div.dialog__header
                div.toolbar.bgc-indigo-500(class="pl++")
                    span.toolbar__label.tc-white.fs-title
                        | เพิ่ม/แก้ไขข้อมูลปีงบประมาณ
                    div.toolbar__right
                        button.btn.btn--l.btn--white.btn--icon(lx-ripple, lx-dialog-close)
                            i.mdi.mdi-close
                            
            div.dialog__content
                div.card
                    div(class="p+")
                        .fs-subheadline
                            i.mdi.mdi-pencil
                            | &nbsp;ข้อมูลปีงบประมาณ
                        div(flex-container="row", flex-gutter="24")
                            div(flex-item="3")
                                lx-text-field(label="ปีงบประมาณ")
                                    input(type="text", ng-model="name")
                            div(flex-item="3")
                                lx-date-picker(model="startDate", label="ตั้งแต่", locale="th")
                            div(flex-item="3")
                                lx-date-picker(model="endDate", label="ตั้งแต่", locale="th")        
                div.dialog__actions
                    button.btn.btn--m.btn--blue.btn--raised(lx-ripple, ng-click="save()") บันทึก
                    | &nbsp;
                    button.btn.btn--m.btn--red.btn--raised(lx-ripple. lx-dialog-close) ปิดหน้าต่าง
