div(flex-container="row")
    div(flex-item="11")
        .fs-headline.display-block
            i.icon.icon--l.icon--green.icon--circled.mdi.mdi-cart
            | &nbsp; รายการเวชภัณฑ์
    div(flex-item="1")
        button.btn.btn--l.btn--red.btn--fab(lx-ripple, ng-click="showModal()")
            i.mdi.mdi-plus

div(flex-container="row")
    div(flex-item="10")
        lx-text-field(label="รายการ...", fixed-label="true", icon="magnify")
            input(type="text", ng-model="query")
    div(flex-item="2")
        br
        div#progress.progress-circular--is-small

.data-table-container
    table.data-table.data-table--has-secondary
        thead
            tr
                th #
                th รหัส
                th รายการ
                th หน่วย
                th ต้นทุน
                th ขาย
                th เหลือ
                th ใช้งาน
                th
            tr
                td(colspan="9").divider.divider--dark

        tbody
            tr.data-table__clickable-row(ng-repeat="p in products | filter: query")
                td {{ $index + 1 }}
                td {{ p.code }}
                td {{ p.name }}
                td {{ p.units }}
                td {{ p.cost | number }}
                td {{ p.price | number }}
                td
                    span(style="color: red;", ng-if="(p.totalGet-p.totalPaid) <= 0") {{ p.totalGet - p.totalPaid | number }}
                    span(style="color: green;", ng-if="(p.totalGet-p.totalPaid) > 0") {{ p.totalGet - p.totalPaid | number }}
                td
                    i.icon.icon--s.icon--green.icon--flat.mdi.mdi-checkbox-marked-circle(ng-if="p.is_active == 'Y'")
                    i.icon.icon--s.icon--red.icon--flat.mdi.mdi-checkbox-blank-circle-outline(ng-if="p.is_active == 'N'")
                td
                    lx-dropdown(position="right", from-top)
                        button.btn.btn--l.btn--grey.btn--icon(lx-ripple, lx-dropdown-toggle)
                            i.mdi.mdi-dots-vertical

                        lx-dropdown-menu
                            ul
                                li
                                    a(ng-click="showEdit(p.id, p.code, p.name, p.units, p.cost, p.price, p.stdcode, p.is_active)").dropdown-link
                                        i.mdi.mdi-pencil
                                        | &nbsp; แก้ไขรายการ
                                li
                                    a(ng-click="remove(p.code)").dropdown-link
                                        i.mdi.mdi-delete
                                        | &nbsp; ลบรายการ
                                li.dropdown-divider
                                li
                                    a(href="#/card/{{p.code}}").dropdown-link
                                        i.mdi.mdi-filter
                                        | &nbsp; ข้อมูล Stock Card...

lx-dialog.dialog.dialog--l#mdlNew(onclose="closingDialog()")
    .dialog__header
        .toolbar.bgc-indigo-500
            span.toolbar__label.tc-white.fs-title
                | เพิ่ม/แก้ไขรายการเวชภัณฑ์
            .toolbar__right
                button.btn.btn--l.btn--white.btn--icon(lx-ripple, lx-dialog-close=)
                    i.mdi.mdi-close

    .dialog__content
        div(class="p++")
            div(flex-container="row", flex-gutter="24")
                div(flex-item="3")
                    lx-text-field(label="รหัสเวชภัณฑ์")
                        input(type="text", ng-model="code", ng-disabled="isEdit")
                div(flex-item="9")
                    lx-text-field(label="ชื่อเวชภัณฑ์")
                        input(type="text", ng-model="name")
                div(flex-item="3")
                    lx-text-field(label="หน่วย")
                        input(type="text", ng-model="units")
            div(flex-container="rows", flex-gutter="24")
                div(flex-item="6")
                    lx-text-field(label="ราคาทุน")
                        input(type="number", ng-model="cost")
                div(flex-item="6")
                    lx-text-field(label="ราคาขาย")
                        input(type="number", ng-model="price")
            div(flex-container="rows", flex-gutter="24")
                div(flex-item="7")
                    lx-text-field(label="รหัสมาตรฐาน")
                        input(type="text", ng-model="stdcode")
                div(flex-item="5")
                    .switch(class="mt+")
                        input(type="checkbox", ng-model="isActive")#chkActive.switch__input
                        label(for="chkActive").switch__label เปิดใช้งาน
                        span.switch__help เปิดการใช้งานรายการนี้
    .dialog__actions
        button.btn.btn--m.btn--green.btn--raised(lx-ripple, ng-click="save()")
            | บันทึกรายการ
        | &nbsp;
        button.btn.btn--m.btn--red.btn--raised(lx-ripple, lx-dialog-close)
            | ปิดหน้าต่าง