.fs-headline
    | ประวัติการจัดซื้อเวชภัณฑ์
    
.data-table-container
    table.data-table.data-table--has-secondary
        thead
            tr
                th #
                th วันที่
                th เลขที่ใบสั่งซื้อ
                th บริษัท/ร้านค้า
                th ราคา
                th
        tbody
            tr
                td(colspan="6") ...
br
.grid
    .grid__col11
        | &nbsp;
    .grid__col1
        a(href="#/new", lx-ripple).btn.btn--l.btn--green.btn--fab
            i.mdi.mdi--add
