extends ../layouts/Main

block scripts
    script(src="../js/purchases/Purchases.js")
    script(src="../js/purchases/IndexController.js")
    script(src="../js/purchases/NewController.js")
    script(src="../js/purchases/NewService.js")

block content
    div(ng-view)
