extends ../layouts/Main

block scripts
    script(src="../js/clients/ClientController.js")
    script(src="../js/clients/ClientService.js")

block content
    .fs-headline 
        i.mdi.mdi--person-add.icon.icon--l.icon--green.icon--circled
        | &nbsp;New client

    form(name="frmAdd", ng-controller="ClientController")
        .gird
            .grid__col12
                | &nbsp;
                #progress
        .grid
            .grid__col2
                lx-text-field(label="รหัสหน่วยบริการ")
                    input(type="text", ng-model="hospcode", ng-required="true")
            .grid__col10
                lx-text-field(label="ชื่อหน่วยบริการ")
                    input(type="text", ng-model="hospname", ng-required="true")
        .grid
            .grid__col12
                lx-text-field(label="Private key")
                    input(type="text", ng-model="privateKey", ng-required="true")
                        
        .grid
            .grid__col8
                | &nbsp;
            .grid__col4
                button.btn.btn--l.btn--green.btn--raised(ng-click="doSave()", ng-disabled="frmAdd.$invalid") บันทึกข้อมูล
                | &nbsp;
                a(href="/clients").btn.btn--l.btn--grey.btn--raised ยกเลิก/หนัาหลัก
