extends ../layouts/Main

block scripts

    script(src="../js/orders/Orders.js")
    script(src="../js/orders/MainController.js")
    script(src="../js/orders/MainService.js")
    script(src="../js/orders/ApproveController.js")
    script(src="../js/orders/ApproveService.js")
    script(src="../js/orders/DetailController.js")
    script(src="../js/orders/DetailService.js")

block content
    div(ng-view)