span.fs-headline
    i.icon.icon--l.icon--green.icon--circled.mdi.mdi-cart
    | &nbsp; รายการขอเบิกออนไลน์จากหน่วยบริการเครือข่าย
br
br
div(flex-container="row")
    div(flex-item="8")
        br
        lx-text-field(label="ระบุเลขที่ใบขอเบิก", fixed-label="true", icon="magnify")
            input(type="text", ng-model="query")
    div(flex-item="2")
        br
        button(type="button", lx-ripple).btn.btn--l.btn--blue.btn--raised
            | ค้นหา
    div(flex-item="2")
        lx-select(ng-model="statusList",selection-to-model="setStatus(data,callback)", change="changeStatus()", placeholder="สถานะใบเบิก", choices="orderStatus", floating-label)
            lx-select-selected {{ $selected.name }}
            lx-select-choices {{$choice.name}}

div(flex-container="row")
    div(flex-item="12")
        | &nbsp;
        #progress

.data-table-container
    table.data-table.data-table--has-secondary
        thead
            tr
                th #
                th วันที่
                th เลขที่ใบเบิก
                th หน่วยบริการ
                th เจ้าหน้าที่
                th สถานะ
                th
            tr
                td(colspan="8").divider.divider--dark
        tbody
            tr.data-table__clickable-row(ng-repeat="o in orders")
                td {{ $index+1 }}
                td {{ o.orders_date | toThaiDate }}
                td {{ o.orders_code }}
                td {{ o.hospcode }} {{ o.hospname }}
                td {{ o.client_staff_name }}
                td {{ o.status_name }}
                td
                    lx-dropdown(position="right", from-top)
                        button.btn.btn--l.btn--grey.btn--icon(lx-ripple, lx-dropdown-toggle)
                            i.mdi.mdi-dots-vertical

                        lx-dropdown-menu
                            ul
                                li(ng-show="o.orders_status_id == '2'")
                                    a(href="#/detail/{{o.id}}").dropdown-link
                                        i.mdi.mdi-file-document
                                        | &nbsp; ดูรายละเอียดการอนุมัติ
                                li(ng-show="o.orders_status_id != '2'")
                                    a(href="#/approve/{{o.id}}").dropdown-link
                                        i.mdi.mdi-cart
                                        | &nbsp; อนุมัติรายการที่ขอเบิก
