extends ../layouts/Main
block scripts
    script(src="../js/products/Products.js")
    script(src="../js/products/MainController.js")
    script(src="../js/products/MainService.js")
    script(src="../js/products/CardController.js")
    script(src="../js/products/CardService.js")

block content
    div(ng-view)