
.fs-headline 
    //- i.mdi.mdi--people.icon.icon--l.icon--green.icon--circled
    | Clients Management
    
div(flex-container="row", flex-gutter="24")
    div(flex-item="12")
        | &nbsp;
        #progress
            
.data-table-container
    table.data-table.data-table--has-secondary
        thead
            tr
                th #
                th รหัส
                th ชื่อหน่วยบริการ
                th Private key
                th สถานะ
                th
            tr
                td(colspan="6").divider.divider--dark
        tbody
            tr.data-table__clickable-row(ng-repeat="c in clients")
                td {{ $index+1 }}
                td {{ c.hospcode }}
                td {{ c.hospname }}
                td {{ c.private_key }}
                td(ng-if="c.is_active == 'Y'")
                    i.icon.icon--s.icon--green.icon--flat.mdi.mdi-check
                td(ng-if="c.is_active == 'N'")
                    i.icon.icon--s.icon--red.icon--flat.mdi.mdi-close
                td
                    lx-dropdown(position="right", from-top)
                        button.btn.btn--l.btn--grey.btn--icon(lx-ripple, lx-dropdown-toggle)
                            i.mdi.mdi-dots-vertical
                                
                        lx-dropdown-menu
                            ul
                                li(ng-if="c.is_active=='Y'")
                                    a(ng-click="setActive(c.id, 'N')").dropdown-link 
                                        i.mdi.mdi-close
                                        | &nbsp; ยกเลิกการใช้งาน
                                li(ng-if="c.is_active=='N'")
                                    a(ng-click="setActive(c.id, 'Y')").dropdown-link 
                                        i.mdi.mdi-check
                                        | &nbsp; เปิดการใช้งาน
                                li
                                    a(href="#/edit/{{c.id}}").dropdown-link
                                        i.mdi.mdi-pencil
                                        | &nbsp; แก้ไขข้อมูล
                                li
                                    a(ng-click="remove(c.id)").dropdown-link
                                        i.mdi.mdi-account-minus
                                        | &nbsp; ลบรายการ

br
div(flex-container="row", flex-gutter="24")
    div(flex-item="11")
        | &nbsp;
    div(flex-item="1")
        a(lx-ripple, href="#/new").btn.btn--red.btn--l.btn--fab
            i.mdi.mdi-account-plus
